@model Checklist.Models.ws_locationView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ws_locationView</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocationName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocationName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessConsultant)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessConsultant)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Province)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Province)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Begin New SiteVisit", "Create", new { id=Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
