@model WS_checklist.Models.Form

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.DateCreated)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DateCreated)
    @Html.ValidationMessageFor(model => model.DateCreated)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.DateModified)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.DateModified)
    @Html.ValidationMessageFor(model => model.DateModified)
</div>

