@model WS_checklist.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">QuestionName</div>
    <div class="display-field">@Model.QuestionName</div>

    <div class="display-label">Active</div>
    <div class="display-field">@Model.Active</div>

    <div class="display-label">QuestionOrder</div>
    <div class="display-field">@Model.QuestionOrder</div>

    <div class="display-label">Answers</div>
    <div class="display-field">@(Model.Answers == null ? "None" : Model.Answers.Count.ToString())</div>

    <div class="display-label">Section</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Section).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


