@model IEnumerable<WS_checklist.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            QuestionName
        </th>
        <th>
            Active
        </th>
        <th>
            QuestionOrder
        </th>
        <th>
            Answers
        </th>
        <th>
            Section
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionID })
        </td>
        <td>
			@item.QuestionName
        </td>
        <td>
			@item.Active
        </td>
        <td>
			@item.QuestionOrder
        </td>
        <td>
			@(item.Answers == null ? "None" : item.Answers.Count.ToString())
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Section).ToString()
        </td>
    </tr>
}

</table>


