@model Checklist.Models.ViewModel

@{
     int i = ViewBag.questionID; 
 }

<td>@Html.RadioButtonFor(m => m.answerList[i].Rating, 1)</td>
<td>@Html.RadioButtonFor(m => m.answerList[i].Rating, 2)</td>
<td>@Html.RadioButtonFor(m => m.answerList[i].Rating, 3)</td>
<td>@Html.RadioButtonFor(m => m.answerList[i].Rating, 4)</td>
<td>@Html.EditorFor(m => m.answerList[i].Comment)</td>
