@model IEnumerable<Checklist.Models.ws_locationView>

<h2>@ViewBag.Message</h2>


@foreach (var q in Model)
{
    <h3>@q.LocationName, @q.Province</h3>
    <h3>@q.Email</h3>
    
    <br />
    @Html.Action("_ActionItemsPartial", new { loc = @q.LocationId })
    @Html.Action("_ActionItemsComplete", new { loc = @q.LocationId })
    <br />
       
    
    using (Html.BeginForm("NewChecklist", "Check", new { locationId = q.LocationId }))
    {
        <button type ="submit">Create New Checklist</button>
    }

    using (Html.BeginForm("PreviousChecklists", "Check", new { locationId = q.LocationId }))
    {
        <button type ="submit">View Previous Checklists</button>
    }

    using (Html.BeginForm("LocationList", "Check", new { locationId = q.LocationId }))
    {
        <button type ="submit">Back to new location</button>
    }
    
}


