@model IEnumerable<Checklist.Models.Form>
@Styles.Render("~/Content/Site.css")

<h2>@ViewBag.Message</h2>

<table>
    <tr>
        <td>Date:**change to a date select** @DateTime.Now.ToString("MM/dd/yyyy")</td>
        <td>Business Consultant: @User.Identity.Name </td>
    </tr>
    <tr>
        <td>Restaurant: @ViewBag.Location</td>
    </tr>
    <tr>
        <!--
        foreach (var m in ViewBag.Manager)
        {
            <td>m.QuestionName Html.TextBox((string)m.QuestionID)</td>
        }
            -->
    </tr>
</table>

@using (Html.BeginForm("SendConfirmation", "Check", new { locationId = ViewBag.LocationId }))
{
<table id="list">
    @foreach (var s in Model)
    {
        @Html.Action("Sections", new { loc = @s.Concept });
    }   
</table>
    
    
    <h2>Action Items</h2>
    <p>Action Items to be listed here</p>

    <h2>Public Comments</h2>
    <textarea id="PublicComments" name="Public Comments" rows="8" cols="700"></textarea>

    <h2>Private Comments</h2>
    <textarea id="PrivateComments" name="Private Comments" rows="8" cols="700"></textarea>

    <br />
    <button type ="submit">Send</button>
}

@using (Html.BeginForm("LocationInfo", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type ="submit">Back to Location Info</button>
}
