@model Checklist.Models.AnswerForm
@Styles.Render("~/Content/Site.css")

<h2>@ViewBag.Message</h2>


@using (Html.BeginForm("SendConfirmation", "Check"))
{
    <table>
        <tr>
            <td>Date: @Html.TextBoxFor(m => m.dateCreatedString, new { id = "datepicker" })</td>
            <td>Business Consultant: @User.Identity.Name </td>
        </tr>
        <tr>
            <td>Restaurant: @ViewBag.Location</td>
        </tr>
    </table>

    <table>
        <tr>
            <td>Manager on Duty: @Html.EditorFor(m => m.managerOnDuty)</td>
            <td>General Manager: @Html.EditorFor(m => m.generalManager)</td>
        </tr>
    </table>

    
    @Html.HiddenFor(m => m.locationID, Model.locationID);
    @Html.HiddenFor(m => m.formID, Model.formID);
    @Html.HiddenFor(m => m.siteVisitID);
   
    <table id="list">
        @{int previous = -1;}
        @foreach (var ans in Model.answerList)
        {
            if (ans.question == null)
            {
                continue;
            }

            if (ans.question.SectionID != previous)
            {
                previous = ans.question.SectionID;
            <tr>
                <td>
                    <h2>@ans.sectionName</h2>
                </td>
                <td>Poor</td>
                <td>Good</td>
                <td>Excellent</td>
                <td>N/A</td>
                <td>Comments:</td>
            </tr>
            }
            
            <tr>

                @{
            int x = ans.question.QuestionID - 1;
                }
                @Html.HiddenFor(m => m.answerList[x].questionID, ans.questionID)
                <td>@ans.question.QuestionName</td>
                <td>@Html.RadioButtonFor(m => m.answerList[x].value, 1)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[x].value, 2)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[x].value, 3)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[x].value, 4)</td>
                <td>@Html.EditorFor(m => m.answerList[x].comment)</td>
            </tr>
        }
    </table>
    
    <h2>Action Items ***NOT WORKING***</h2>
    

    <h2>Public Comments</h2>
    @Html.TextAreaFor(m => m.publicComment, new { rows = "8", cols = "700" })

    <h2>Private Comments</h2>
    @Html.TextAreaFor(m => m.privateComment, new { rows = "8", cols = "700" })

    <br />
    <button type="submit">Send</button>
}

@using (Html.BeginForm("LocationInfo", "Check", new { locationId = Model.locationID }))
{
    <button type="submit">Back to Location Info</button>
}
