@model Checklist.Models.AnswerForm
@Styles.Render("~/Content/Site.css")

<h2>@ViewBag.Message</h2>

<table>
    <tr>
        <td>Date:**change to a date select** @DateTime.Now.ToString("MM/dd/yyyy")</td>
        <td>Business Consultant: @User.Identity.Name </td>
    </tr>
    <tr>
        <td>Restaurant: @ViewBag.Location</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Manager on Duty: **textboxfor**</td>
            <td>General Manager: **textboxfor**</td>
        </tr>
    </table>


    <table id="list">
        @{int previous = -1;}
        @foreach (var ans in Model.answerList)
        {
            if (ans.question.SectionID != previous)
            {
                previous = ans.question.SectionID;
            <tr>
                <td>
                    <h2>@ans.sectionName</h2>
                </td>
                <td>Poor</td>
                <td>Good</td>
                <td>Excellent</td>
                <td>N/A</td>
                <td>Comments:</td>
            </tr>
            }
            <tr>
                <td>@ans.question.QuestionName</td>

                <td>@Html.RadioButtonFor(m => m.answerList[ans.question.QuestionID].value, 1)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[ans.question.QuestionID].value, 2)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[ans.question.QuestionID].value, 3)</td>
                <td>@Html.RadioButtonFor(m => m.answerList[ans.question.QuestionID].value, 4)</td>
                <td>@Html.EditorFor(m => m.answerList[ans.question.QuestionID].comment)</td>

            </tr>
        }
    </table>
    
    <h2>Action Items</h2>

    @Html.Action("DisplayActionItems", new { loc = ViewBag.LocationId });
    <button type="submit">New Action Item</button>

    <h2>Public Comments</h2>
    <textarea id="PublicComments" name="Public Comments" rows="8" cols="700"></textarea>

    <h2>Private Comments</h2>
    <textarea id="PrivateComments" name="Private Comments" rows="8" cols="700"></textarea>

    <br />
    <button type="submit">Send</button>
}

@using (Html.BeginForm("LocationInfo", "Check", new { locationId = ViewBag.LocationId }))
{
    <button type="submit">Back to Location Info</button>
}
