@{
    ViewBag.Title = "Location Info";
}

<h2>@ViewBag.Message</h2>


@foreach (var q in ViewBag.DB)
{
    <h3>@q.LocationName, @q.Province</h3>
    <h3>@q.Email</h3>
}

<p>
    This page will have some info based on the chosen location.
</p>

<p>@Html.ActionLink("Back to new location", "LocationList", "Account")</p>

<p>@Html.ActionLink("View Previous Checklists", "PreviousChecklists", "Account")</p>

<p>@Html.ActionLink("Create New Checklist", "NewChecklist", "Account")</p>
